.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/af5f349f539f75beb05fa88d11b86fc8b17eea99cce84c8da883b904459d8c22d74ae7758da22de500a6565fb3a44012f314fe45a8ff024f2e5459_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 921px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 139px 57px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 434px 72px 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 67px;
  height: 67px;
  margin: 22px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 83px;
  width: 83px;
  background-image: none;
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 306px;
  }

  .u-section-1 .u-text-2 {
    width: 854px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -271px;
  }

  .u-section-1 .u-icon-1 {
    margin: 22px 415px 60px 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 360px;
    margin-right: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 270px;
    margin-right: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 110px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 170px;
    margin-right: 150px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/21b533441df426c0af9d6f33f6575d7f1bcaf9582a54e24b9f2433810a6670e3c88d9b73c70054023586f08db32c9cb6d557cb79d4674151e43415_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 104px 167px 0 197px;
}

.u-section-2 .u-text-2 {
  width: 687px;
  font-size: 1rem;
  font-style: italic;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 332px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-2 .u-text-1 {
    width: 777px;
    margin-left: 97px;
    margin-right: 67px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 274px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 834px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  width: 714px;
  margin: 87px auto 0;
}

.u-section-3 .u-text-2 {
  width: 731px;
  font-style: normal;
  margin: 24px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 891px;
  margin: 42px auto 0;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  background-image: none;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 40px;
  width: 40px;
  color: rgb(153, 153, 153) !important;
  background-image: none;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  background-image: none;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 40px;
  width: 40px;
  color: rgb(153, 153, 153) !important;
  background-image: none;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px 20px 19px;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  background-image: none;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 40px;
  width: 40px;
  color: rgb(153, 153, 153) !important;
  background-image: none;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-4 {
  font-weight: 700;
  background-image: none;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  padding: 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 40px;
  width: 40px;
  color: rgb(153, 153, 153) !important;
  background-image: none;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-5 {
  height: 63px;
  width: 63px;
  background-image: linear-gradient(white, #5470db);
  margin: 61px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}